/* bcg голова и футерцвет #2F303A
колір наша команда #F5F4FA
цвет основного текста #212121
цвет вторичного текста #757575
цвет теста контактов (футер)rgba(255, 255, 255, 0.6)
#2196F3
#000000
цвет фона основного #FFFFFF
цвет фона вторичного #F5F4FA
#188CE8 */

:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --button-txt-color: #FFFFFF;
    --primery-button-bgc: #2196F3;
    --secondary-button-bgc: #F5F4FA
}
body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}



/*сброс умолчания*/
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.nolink {
    text-decoration: none;
}
.site-nav .link.current {
    color: #2196F3;
}


/*тренування*/

.bcg {
    background-color: #8f5877;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline:  2px solid tomato;
}

.site-nav {
    background-color: rgb(182, 216, 43);
}



/*шапка сайту*/
.logo {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo {
    background-color: rgb(46, 166, 196);
}


.web {
    color: #2196F3;
}
.studio {
    color: #FFFFFF;
}
/*навігація сайту шакпи*/
.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*Взаємодія*/
.site-nav .link:hover,
.site-nav .link:focus,
.contact a:hover,
.contact a:focus {
    color: #2196F3;
}
.button-primary:hover,
.button-primary:focus {
   background-color:#188CE8;
}

/*контакты из шапки сайта*/
.contact a{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact {
    background-color: rgb(187, 197, 13);
}

/*голова сайта*/
.head {
    background-color: #2F303A;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    outline: 2px solid tomato;
    

}

.head-titel {
    margin-top: 0;
    margin-bottom: 30px;
}

/*Кнопка*/
.button-primary {
    color: var(--button-txt-color);
    background-color: var(--primery-button-bgc);
    font-family: 'Roboto';
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
}
/*кнопки фільтру*/
.buttons{
    color: var(--primary-text-color);
    background-color: var(--secondary-button-bgc);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.buttons:hover,
.buttons:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
.pointer {
    cursor: pointer;
}
/*Фундаментальные принципы работы*/
.section-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.work-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
/*наша команда і робота*/
.team {
    background-color: #F5F4FA;
}
.section-team p{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
} 
.worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.titel-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.projects {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects p{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
/*Футер*/
footer{
    background-color: #2F303A;
}
.address {
    font-style: normal;
}
.streat {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.contact-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.70;
    letter-spacing: 0.03em;
}
.address a:hover,
.address a:focus{
    color: #2196F3;
}
